/runtime
/.idea
/.vscode
/vendor
*.log
.env
/tests/tmp
/tests/.phpunit.result.cache
/public/ssl/
/public/qrcode.png
/public/qrcode/
/public/config/
/public/shop/
.htaccess
/public/.well-known/
.DS_Store
**/.DS_Store
/public/attachment/goods/
/public/attachment/shop/
/public/attachment/qrcode/
/public/attachment/user-info/
/public/attachment/shop-config/
/public/attachment/detailsImages/