<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>积分商城控制台</title>
    <script src="/js/vue.3.5.12.js"></script>
    <script src="/js/axios.min.js"></script>
    <?php include 'layout/style.php'; ?>
    <script src="/js/apexcharts.js"></script>
    <style>
        /* 为图表添加自定义样式 */
        .chart-container {
            position: relative;
            height: 350px;
            width: 100%;
        }
    </style>
</head>

<body>
    <!-- 顶部 Navbar -->
    <?php $currentPage = 'dashboard'; ?>
    <?php include 'layout/navbar.php'; ?>
    <!-- 主要区域 -->
    <div class="columns menu-container" id="app">
        <!-- 左侧菜单栏 -->
        <?php include 'layout/menu.php'; ?>
        <!-- 主要内容区域 -->
        <div class="column" id="main-content">
            <div style="padding: 1rem;">
                <!-- 仪表盘的统计信息 -->
                <div class="columns is-multiline">
                    <!-- CPU 占用卡片 -->
                    <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
                        <div class="card">
                            <div class="card-content">
                                <p class="title">CPU</p>
                                <p class="subtitle">当前：{{cpu}}%</p>
                                <progress class="progress" :class="progressColor(cpu)" :value="cpu"
                                    max="100">{{cpu}}%</progress>
                            </div>
                        </div>
                    </div>

                    <!-- 内存占用卡片 -->
                    <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
                        <div class="card">
                            <div class="card-content">
                                <p class="title">内存</p>
                                <p class="subtitle">当前：{{memory}}%</p>
                                <progress class="progress" :class="progressColor(memory)" :value="memory"
                                    max="100">{{memory}}%</progress>
                            </div>
                        </div>
                    </div>

                    <!-- 磁盘占用卡片 -->
                    <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
                        <div class="card">
                            <div class="card-content">
                                <p class="title">磁盘</p>
                                <p class="subtitle">当前：{{disk}}%</p>
                                <progress class="progress" :class="progressColor(disk)" :value="disk"
                                    max="100">{{disk}}%</progress>
                            </div>
                        </div>
                    </div>

                    <!-- 今日新增 -->
                    <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
                        <div class="card">
                            <div class="card-content">
                                <p class="title">新增</p>
                                <p class="subtitle">{{add}} 个大航海</p>
                                <progress class="progress is-link" value="100" max="100">75%</progress>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="columns is-multiline">
                    <!-- 折线图：CPU 占用 -->
                    <div class="column is-one-half-desktop is-full-tablet is-full-mobile">
                        <div class="card">
                            <div class="card-content">
                                <div class="chart-container">
                                    <div id="cpu-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 折现图：内存占用 -->
                    <div class="column is-one-half-desktop is-full-tablet is-full-mobile">
                        <div class="card">
                            <div class="card-content">
                                <div class="chart-container">
                                    <div id="memory-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部 Footer -->
    <?php include 'layout/footer.php'; ?>
</body>
<!-- JavaScript 用于图表展示 -->

<script>
    function convertToTime(minutesFromMidnight) {
        const now = new Date();
        const year = now.getFullYear();
        const month = String(now.getMonth() + 1).padStart(2, '0');  // 月份需要加1，且格式化为两位数
        const day = String(now.getDate()).padStart(2, '0');         // 格式化为两位数
        const hours = Math.floor(minutesFromMidnight / 60);
        const minutes = minutesFromMidnight % 60;
        const time = `${String(hours).padStart(2, '0')}:${String(minutes).padStart(2, '0')}`;
        return `${year}-${month}-${day} ${time}`;
    }
    function memory(data) {
        var categories = [];
        for (let i = 0; i < 288; i++) {
            categories.push('');
        }
        new ApexCharts(document.querySelector("#memory-chart"), {
            chart: {
                type: 'line',
                height: 350,
                toolbar: {
                    show: false  // 禁用右上角的工具栏按钮
                },
                zoom: {
                    enabled: false, // 禁用鼠标滚轮缩放
                }
            },
            series: [{
                name: '内存 占用',
                data: data  // 模拟数据
            }],
            yaxis: {
                max: 100  // 设置 Y 轴最大值为 100
            },
            xaxis: {
                categories: categories,  // 时间点
                min: 0,
                max: 288,
                tickAmount: 288
            },
            tooltip: {
                enabled: true,  // 启用提示框
                shared: true,  // 如果为 true，会同时显示多个数据系列的内容
                followCursor: true,  // 提示框跟随鼠标移动
                intersect: false,  // 设置为 true 时，只有在鼠标与数据点重合时才显示提示框
                y: {
                    formatter: function (value) {
                        return value + '%';  // 自定义显示 Y 轴的数据格式
                    }
                },
                x: {
                    formatter: function (value) {
                        return convertToTime(value) + ':00';  // 自定义 X 轴显示内容
                    }
                }
            },
            stroke: {
                show: true,           // 显示折线
                curve: 'smooth',      // 平滑曲线
                width: 1              // 设置折线的宽度为 5
            },
            title: {
                text: '内存 占用历史',
                align: 'center'
            }
        }).render();
    }
    function cpu(data) {
        var categories = [];
        for (let i = 0; i < 288; i++) {
            categories.push('');
        }
        new ApexCharts(document.querySelector("#cpu-chart"), {
            chart: {
                type: 'line',
                height: 350,
                toolbar: {
                    show: false  // 禁用右上角的工具栏按钮
                },
                zoom: {
                    enabled: false, // 禁用鼠标滚轮缩放
                }
            },
            series: [{
                name: 'CPU 占用',
                data: data  // 模拟数据
            }],
            yaxis: {
                max: 100  // 设置 Y 轴最大值为 100
            },
            xaxis: {
                categories: categories,  // 时间点
                min: 0,
                max: 288,
                tickAmount: 288
            },
            tooltip: {
                enabled: true,  // 启用提示框
                shared: true,  // 如果为 true，会同时显示多个数据系列的内容
                followCursor: true,  // 提示框跟随鼠标移动
                intersect: false,  // 设置为 true 时，只有在鼠标与数据点重合时才显示提示框
                y: {
                    formatter: function (value) {
                        return value + '%';  // 自定义显示 Y 轴的数据格式
                    }
                },
                x: {
                    formatter: function (value) {
                        return convertToTime(value) + ':00';  // 自定义 X 轴显示内容
                    }
                }
            },
            stroke: {
                show: true,           // 显示折线
                curve: 'smooth',      // 平滑曲线
                width: 1              // 设置折线的宽度为 5
            },
            title: {
                text: 'CPU 占用历史',
                align: 'center'
            }
        }).render();
    }
</script>

<script>
    const app = Vue.createApp({
        data() {
            return {
                cpu: Math.floor(Math.random() * 51),
                memory: Math.floor(Math.random() * 51),
                disk: Math.floor(Math.random() * 51),
                add: 0
            };
        },
        created() {
            this.intervalId = setInterval(() => {
                this.cpu = Math.floor(Math.random() * 100);
                this.memory = Math.floor(Math.random() * 100);
                this.disk = Math.floor(Math.random() * 100);
            }, 2000);
            this.$nextTick(() => {
                // 获取当前时间
                const now = new Date();
                const midnight = new Date(new Date().setHours(0, 0, 0, 0));
                const diffMilliseconds = now - midnight;
                const count = Math.floor(Math.floor((now - midnight) / 1000) / 300);
                const cpu_data = [];
                const memory_data = [];
                for (var i = 0; i < count; i++) {
                    cpu_data.push(Math.floor(Math.random() * 51));
                    memory_data.push(Math.floor(Math.random() * 82));
                }
                memory(memory_data);
                cpu(cpu_data)
            });
        },
        methods: {
            progressColor(number) {
                if (number < 40) {
                    return 'is-primary';
                }
                if (number < 75) {
                    return 'is-warning'
                }
                if (number > 75) {
                    return 'is-danger';
                }
                return 'is-link';
            }
        },
        beforeDestroy() {
            clearInterval(this.intervalId);
        }
    });
    app.mount('#app');
</script>

</html>