<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>积分商城控制台</title>
    <?php include 'layout/style.php'; ?>
  </head>

  <body>
    <!-- 顶部 Navbar -->
    <?php $currentPage = 'gift-records'; ?>
    <?php include 'layout/navbar.php'; ?>
    <!-- 主要区域 -->
    <div class="columns menu-container" id="app">
      <!-- 左侧菜单栏 -->
      <?php include 'layout/menu.php'; ?>
      <!-- 主要内容区域 -->
      <div class="column" id="main-content">
        <div id="main-content-body" style="padding: 1rem; display: block">
          <div class="columns is-multiline">
            <div class="column is-full">
              <div class="card">
                <div class="card-content">
                  <p>
                    该页面用于记录机器人监听的直播间中观众赠送礼物的相关信息
                  </p>
                  <br />

                  <p>功能包括：</p>

                  <p>
                    &nbsp;&nbsp;·&nbsp;记录观众的
                    UID、昵称、赠送的礼物、数量、消费金额及赠送时间
                  </p>

                  <p>
                    &nbsp;&nbsp;·&nbsp;支支持通过
                    UID、昵称关键词、赠送时间范围进行搜索查询
                  </p>

                  <p>&nbsp;&nbsp;·&nbsp;提供灵活的统计功能，可快速查看：</p>
                  <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;某个时间段的总礼物数量与金额
                  </p>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;某个观众的赠送记录</p>
                  <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;·&nbsp;某个观众在特定时间段内的赠送总量和金额
                  </p>
                  <br />

                  <p>
                    该功能适用于数据分析、观众贡献管理、活动复盘等使用场景。
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-multiline">
            <div class="column is-full">
              <div class="card">
                <div class="card-content">
                  <p>本功能属于新版后台专属，老版本暂不支持。</p>
                  <p>
                    新版后台提供了更多灵活的自定义能力，适合进阶使用，需自行部署。
                  </p>
                  <p>
                    我们已准备好详尽的部署教程，部署过程不复杂，有问题也欢迎联系作者协助～
                  </p>
                  <p>作者在空闲时间很乐意帮大家一起搭建！</p>
                  <p>
                    📘 教程地址：<a
                      href="https://hejunjie.life/danmusuite/start/admin-panel"
                      target="_blank"
                      >点击前往</a
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="columns is-multiline">
            <div class="column is-full">
              <div class="card">
                <div class="card-content">
                  <img src="/attachment/default/gift.png" style="width: 100%" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 底部 Footer -->
    <?php include 'layout/footer.php'; ?>
  </body>
  <script>
    const app = Vue.createApp({
      data() {
        return {};
      },
      created() {},
      methods: {},
    });
    app.mount("#app");
  </script>
</html>
