<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>积分商城控制台</title>
    <?php include 'layout/style.php'; ?>
    <style>
        .table-container {
            overflow-x: auto;
            white-space: nowrap;
            /* 禁止内容换行 */
        }

        .table-container::-webkit-scrollbar {
            height: 8px;
            /* 滚动条高度 */
        }

        .table-container::-webkit-scrollbar-thumb {
            background-color: #ccc;
            border-radius: 4px;
        }
    </style>
</head>

<body>
    <!-- 顶部 Navbar -->
    <?php $currentPage = 'user-management'; ?>
    <?php include 'layout/navbar.php'; ?>
    <!-- 主要区域 -->
    <div class="columns menu-container" id="app">
        <!-- 左侧菜单栏 -->
        <?php include 'layout/menu.php'; ?>
        <!-- 主要内容区域 -->
        <div class="column" id="main-content">
            <!-- 动态通知框 -->
            <transition name="slide-fade" @after-leave="resetNotification">
                <div v-if="isNotificationVisible" class="notification notification-fixed" :class="notificationType">
                    <button class="delete" @click="hideNotification"></button>
                    {{notificationMessage}}
                </div>
            </transition>
            <div id="loading">
                加载中，请稍候...
            </div>
            <div id="main-content-body" style="padding: 1rem;">
                <div class="columns is-multiline">
                    <div class="column is-full">
                        <div class="card">
                            <div class="card-content">
                                <div class="columns is-multiline">
                                    <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
                                        <div class="field">
                                            <label class="label">UID</label>
                                            <div class="control">
                                                <input class="input" type="text" placeholder="支持模糊查询"
                                                    v-model="form.uid">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-one-quarter-desktop is-half-tablet is-full-mobile">
                                        <div class="field">
                                            <label class="label">名称</label>
                                            <div class="control">
                                                <input class="input" type="text" placeholder="支持模糊查询"
                                                    v-model="form.uname">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column is-one-third-desktop is-half-tablet is-full-mobile"
                                        style="display: flex;">
                                        <button class="button is-success" style="flex:1" @click="searchData">搜索</button>
                                        <div style="width: 1rem;"></div>
                                        <button class="button is-light" style="flex:1" @click="emptyData">重置</button>
                                        <div style="width: 1rem;"></div>
                                        <button class="button is-light" style="flex:1" @click="addUser">新增</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-full">
                        <div class="card">
                            <div class="card-content table-container">
                                <table class="table is-fullwidth is-striped is-hoverable">
                                    <thead>
                                        <tr>
                                            <th>UID</th>
                                            <th>名称</th>
                                            <th>类型</th>
                                            <th>开启时间</th>
                                            <th>到期时间</th>
                                            <th>积分</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(item,index) in list.data">
                                            <td>{{item.uid}}</td>
                                            <td>{{item.name}}</td>
                                            <td>{{item.vip_type}}</td>
                                            <td>{{item.last_vip_at}}</td>
                                            <td>{{item.end_vip_at}}</td>
                                            <td>{{item.point}}</td>
                                            <td>
                                                <button class="button is-light"
                                                    @click="userEdit(item.user_id)">变更</button>
                                                <button class="button is-light"
                                                    @click="userRecords(item.user_id)">积分记录</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <nav class="pagination is-rounded" role="navigation" aria-label="pagination">
                                    <a href="javascript:;" class="pagination-previous"
                                        @click="handlePageChange(this.list.current_page-1)">上一页</a>
                                    <a href="javascript:;" class="pagination-next"
                                        @click="handlePageChange(this.list.current_page+1)">下一页</a>
                                    <ul class="pagination-list">
                                        <li v-for="page in pageNumbers" :key="page" @click="handlePageChange(page)">
                                            <a href="javascript:;" class="pagination-link"
                                                :class="page == this.list.current_page ? 'is-current' : ''"
                                                v-if="page != '...'">{{page}}</a>
                                            <span class="pagination-ellipsis" v-else>&hellip;</span>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 弹窗 -->
        <div class="modal" :class="records_active ? 'is-active' : ''">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">开通记录</p>
                    <button class="delete" aria-label="close" @click="this.records_active = false"></button>
                </header>
                <section class="modal-card-body">
                    <table class="table is-fullwidth is-striped is-hoverable">
                        <thead>
                            <tr>
                                <th colspan="2">操作类型</th>
                                <th>变更积分</th>
                                <th>变更后积分</th>
                                <th>变更时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td colspan="5"><button class="button is-fullwidth"
                                        @click="add_user_records_active = true">新增</button>
                                </td>
                            </tr>
                            <tr v-if="add_user_records_active">
                                <td colspan="2">
                                    <div class="field">
                                        <div class="control">
                                            <div class="select is-fullwidth">
                                                <select v-model="set_user_point.type">
                                                    <option value="" disabled>请选择</option>
                                                    <option value="0">增加</option>
                                                    <option value="1">减少</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td colspan="2">
                                    <div class="field">
                                        <div class="control">
                                            <input class="input" type="number" v-model="set_user_point.point"
                                                placeholder="积分">
                                        </div>
                                    </div>
                                </td>
                                <td><button class="button is-fullwidth is-success" @click="addUserRecords">保存</button>
                                </td>
                            </tr>
                            <tr v-for="(item,index) in records">
                                <td>
                                    <figure class="image is-32x32">
                                        <img :src="item.icon" />
                                    </figure>
                                </td>
                                <td>{{item.name}}</td>
                                <td>{{item.point}}</td>
                                <td>{{item.after_point}}</td>
                                <td>{{item.date}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="field">
                        <label class="label">上舰日期</label>
                        <div class="control">
                            <input class="input" :class="last_vip_at_error ? 'is-danger' : ''" type="text" v-model="user.last_vip_at" @input="validateLastVipDate" placeholder="YYYY-mm-dd HH:ii:ss">
                        </div>
                        <p class="help">如果只是添加用户，对方并没有上舰，则可不填，填写时注意日期格式为「年年年年-月月-日日 时时:分分:秒秒」</p>
                        <p class="help is-danger" v-if="last_vip_at_error">请输入合法的日期</p>
                    </div> -->
                </section>
                <footer class="modal-card-foot">
                    <div class="buttons">
                        <button class="button is-success" @click="saveUser">存储</button>
                        <button class="button" @click="this.uerinfo_active = false">取消</button>
                    </div>
                </footer>
            </div>
        </div>
        <div class="modal" :class="uerinfo_active ? 'is-active' : ''">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">{{user.user_id ? '编辑用户' : '新增用户'}}</p>
                    <button class="delete" aria-label="close" @click="this.uerinfo_active = false"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">UID</label>
                        <div class="control">
                            <input class="input" :class="uid_error ? 'is-danger' : ''" type="text" v-model="user.uid"
                                placeholder="用户UID" @blur="searchUid">
                        </div>
                        <p class="help">B站用户ID，打开网页版哔哩哔哩，搜索对应用户查看个人主页后，可在对方个人主页的网址后方查看到（一串数字）。</p>
                        <p class="help is-danger" v-if="uid_error">未查询到用户信息，请确认 UID 输入正确</p>
                    </div>
                    <div class="field">
                        <label class="label">用户名</label>
                        <div class="control">
                            <input class="input" type="text" v-model="user.name" placeholder="用户名">
                        </div>
                        <p class="help">无需输入，填写UID后会自动查询用户，仅作为确认是否为需要添加的用户</p>
                    </div>
                    <div class="field">
                        <label class="label">登录密码</label>
                        <div class="control">
                            <input class="input" type="text" v-model="user.password" placeholder="密码">
                        </div>
                        <p class="help">输入后为用户设置密码，如果<b>不需要设置</b>或<b>不需要更改</b>密码，则不需要输入</p>
                    </div>
                    <div class="field">
                        <label class="label">用户类型</label>
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select v-model="user.vip_type">
                                    <option value="" disabled>请选择</option>
                                    <option value="0">潜在老头（穷逼）</option>
                                    <option value="1">舰长宝宝</option>
                                    <option value="2">提督大人</option>
                                    <option value="3">总督主人</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">积分</label>
                        <div class="control">
                            <input class="input" type="text" v-model="user.point" placeholder="积分">
                        </div>
                        <p class="help">无特殊情况无需进行变更</p>
                    </div>
                    <!-- <div class="field">
                        <label class="label">上舰日期</label>
                        <div class="control">
                            <input class="input" :class="last_vip_at_error ? 'is-danger' : ''" type="text" v-model="user.last_vip_at" @input="validateLastVipDate" placeholder="YYYY-mm-dd HH:ii:ss">
                        </div>
                        <p class="help">如果只是添加用户，对方并没有上舰，则可不填，填写时注意日期格式为「年年年年-月月-日日 时时:分分:秒秒」</p>
                        <p class="help is-danger" v-if="last_vip_at_error">请输入合法的日期</p>
                    </div> -->
                </section>
                <footer class="modal-card-foot">
                    <div class="buttons">
                        <button class="button is-success" @click="saveUser">存储</button>
                        <button class="button" @click="this.uerinfo_active = false">取消</button>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- 底部 Footer -->
    <?php include 'layout/footer.php'; ?>
</body>
<script>
    const app = Vue.createApp({
        data() {
            return {
                secretKey: '<?php echo $secretKey ?>',
                form: {
                    uid: null,
                    uname: null,
                    page: '<?php echo $page ?>'
                },
                set_user_point: {
                    user_id: 0,
                    type: 0,
                    point: 0
                },
                list: [],
                records: [],
                uerinfo_active: false,
                records_active: false,
                add_user_records_active: false,
                last_vip_at_error: false,
                end_vip_at_error: false,
                uid_error: false,
                user: {
                    user_id: null,
                    uid: null,
                    name: null,
                    password: null,
                    vip_type: '',
                    point: 0
                }
            };
        },
        created() {
            this.getData()
        },
        computed: {
            pageNumbers() {
                const currentPage = this.list.current_page
                const totalPages = this.list.total_page
                let pages = [];
                // 最多展示7个页码，第一页和最后一页必定显示
                const maxPages = 7;
                // 1. 必须展示第一页
                pages.push(1);
                // 2. 确定显示范围
                // 如果当前页接近第一页，展示更多页
                if (currentPage <= 4) {
                    // 显示前两页加当前页及其后面的页
                    for (let i = 2; i <= Math.min(maxPages - 1, totalPages - 1); i++) {
                        pages.push(i);
                    }
                }
                // 如果当前页接近最后一页，展示更多页
                else if (currentPage >= totalPages - 3) {
                    // 显示后面几页
                    for (let i = Math.max(totalPages - maxPages + 1, 2); i < totalPages; i++) {
                        pages.push(i);
                    }
                }
                // 如果当前页在中间
                else {
                    // 显示当前页前后各2个页码
                    for (let i = currentPage - 2; i <= currentPage + 2; i++) {
                        pages.push(i);
                    }
                }
                // 3. 必须展示最后一页
                if (pages[pages.length - 1] !== totalPages) {
                    pages.push(totalPages);
                }
                // 4. 如果有断层，添加省略号
                const result = [];
                for (let i = 0; i < pages.length; i++) {
                    if (i > 0 && pages[i] - pages[i - 1] > 1) {
                        result.push('...'); // 添加省略号
                    }
                    result.push(pages[i]);
                }
                return result;
            }
        },
        methods: {
            // 显示通知
            showNotification(message, type = 'info') {
                this.isNotificationVisible = true;
                this.notificationMessage = message;
                switch (type) {
                    case 'success':
                        this.notificationType = 'is-success is-light'
                        break;
                    case 'info':
                        this.notificationType = 'is-light'
                        break;
                    case 'error':
                        this.notificationType = 'is-danger is-light'
                        break;
                    case 'warning':
                        this.notificationType = 'is-warning is-light'
                        break;
                }
                setTimeout(this.hideNotification, 3000);
            },
            // 隐藏通知
            hideNotification() {
                this.isNotificationVisible = false;
            },
            // 防止通知重复
            resetNotification() {
                this.isNotificationVisible = false;
            },
            // 获取页面数据
            getData() {
                let data = this.form;
                let signature = CryptoJS.HmacSHA256(JSON.stringify(data), this.secretKey).toString();
                axios.post('/api/points-mall/user-management/get-data', data, {
                    headers: { 'X-Signature': signature }
                }).then(response => {
                    if (response.data.code == 0) {
                        document.getElementById('loading').style.display = 'none';
                        document.getElementById('main-content-body').style.display = 'block';
                        this.list = response.data.data.list
                    }
                });
            },
            // 翻页
            handlePageChange(page) {
                if (page < 1) {
                    page = 1;
                }
                if (page > this.list.total_page) {
                    page = this.list.total_page;
                }
                this.form.page = page;
                this.getData();
            },
            // 搜索信息
            searchData() {
                this.form.page = 1;
                this.getData();
            },
            // 清空搜索
            emptyData() {
                this.form.uid = null;
                this.form.uname = null;
                this.form.page = 1;
                this.getData();
            },
            // 添加用户
            addUser() {
                this.user.user_id = null;
                this.user.uid = null;
                this.user.name = null;
                this.user.password = null;
                this.user.vip_type = '';
                this.user.point = 0;
                this.uerinfo_active = true;
            },
            // 编辑用户
            userEdit(user_id) {
                this.uerinfo_active = true;
                // 获取数据
                let data = { user_id: user_id };
                let signature = CryptoJS.HmacSHA256(JSON.stringify(data), this.secretKey).toString();
                axios.post('/api/points-mall/user-management/get-user-data', data, {
                    headers: { 'X-Signature': signature }
                }).then(response => {
                    if (response.data.code == 0) {
                        this.user = response.data.data.users;
                    }
                });
            },
            // 存储用户
            saveUser() {
                // 获取数据
                let data = this.user;
                let signature = CryptoJS.HmacSHA256(JSON.stringify(data), this.secretKey).toString();
                axios.post('/api/points-mall/user-management/set-data', data, {
                    headers: { 'X-Signature': signature }
                }).then(response => {
                    if (response.data.code == 0) {
                        this.showNotification('操作成功', 'success')
                        this.user.user_id = null;
                        this.user.uid = null;
                        this.user.name = null;
                        this.user.password = null;
                        this.user.vip_type = '';
                        this.user.point = 0;
                        this.uerinfo_active = false;
                        this.getData()
                    }
                });
            },
            // 查询用户
            searchUid() {
                let data = { uid: this.user.uid };
                let signature = CryptoJS.HmacSHA256(JSON.stringify(data), this.secretKey).toString();
                axios.post('/api/points-mall/user-management/get-user-info', data, {
                    headers: { 'X-Signature': signature }
                }).then(response => {
                    if (response.data.code == 0 && response.data.data.uname) {
                        this.user.name = response.data.data.uname;
                        this.uid_error = false;
                    } else {
                        this.uid_error = true;
                    }
                });
            },
            // 查看记录
            userRecords(user_id) {
                this.records = [];
                this.records_active = true;
                // 获取数据
                let data = { user_id: user_id };
                let signature = CryptoJS.HmacSHA256(JSON.stringify(data), this.secretKey).toString();
                axios.post('/api/points-mall/user-management/get-user-records', data, {
                    headers: { 'X-Signature': signature }
                }).then(response => {
                    if (response.data.code == 0) {
                        this.add_user_records_active = false;
                        this.records = response.data.data.records;
                        this.set_user_point.user_id = user_id;
                        this.set_user_point.point = 0;
                        this.set_user_point.type = 0;
                    }
                });
            },
            // 增加记录
            addUserRecords() {
                // 获取数据
                let data = this.set_user_point;
                let signature = CryptoJS.HmacSHA256(JSON.stringify(data), this.secretKey).toString();
                axios.post('/api/points-mall/user-management/set-user-point', data, {
                    headers: { 'X-Signature': signature }
                }).then(response => {
                    if (response.data.code == 0) {
                        this.userRecords(this.set_user_point.user_id)
                    }
                });
            },
        }
    });
    app.mount('#app');
</script>

</html>